*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:linear-gradient(135deg,#2563eb,#1e3a8a);
    min-height:100vh;
    color:#1e293b;
}

.screen{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.hidden{
    display:none;
}

.card,
.dashboard-card{
    background:white;
    width:350px;
    padding:30px;
    border-radius:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.logo{
    color:#1d4ed8;
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    margin-bottom:20px;
    color:gray;
}

input{
    width:100%;
    padding:14px;
    margin-top:12px;
    border-radius:12px;
    border:1px solid #d1d5db;
    font-size:15px;
}

input:focus{
    outline:none;
    border:1px solid #2563eb;
}

button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    background:#1d4ed8;
}

.link{
    color:#2563eb;
    font-weight:bold;
    cursor:pointer;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.profile-btn{
    width:auto;
    padding:10px 15px;
}

.difficulty-box{
    background:#eff6ff;
    padding:20px;
    border-radius:15px;
    text-align:center;
    margin-bottom:20px;
}

.difficulty-box p{
    font-size:22px;
    font-weight:bold;
    color:#2563eb;
}

.button-group{
    display:flex;
    gap:10px;
}

.profile-circle{
    width:90px;
    height:90px;
    background:#dbeafe;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    margin:20px auto;
}

.terms-box{
    background:#f3f4f6;
    padding:15px;
    border-radius:12px;
    margin-top:15px;
    max-height:120px;
    overflow:auto;
}

.check-container{
    display:flex;
    gap:10px;
    margin-top:15px;
    align-items:flex-start;
    font-size:14px;
}

.check-container input{
    width:auto;
    margin-top:2px;
}

.progress-item{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    padding:12px;
    background:#eff6ff;
    border-radius:12px;
}