body {
    font-family: Arial;
    margin: 0;
    background: #eef5ff;
}

.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.link {
    color: blue;
    cursor: pointer;
}